@import url("https://fonts.googleapis.com/css2?family=Koulen&family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background: #1d1d27;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
header img {
  width: 20px;
  height: 30px;
}
header a {
  font-family: "Koulen", cursive;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background: #4225f2;
  padding: 1px 10px;
  border-radius: 20px;
}

main .main-content {
  display: flex;
  flex-direction: column;
}
main .main-content img {
  margin: auto;
  width: 167px;
  height: 217px;
}
main .main-content h2 {
  font-family: "Koulen", cursive;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 30px;
  text-align: center;
  color: #fff;
}
main .main-content .main-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}
main .main-content .main-buttons a {
  font-family: "Koulen", cursive;
  font-size: 1.3rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-content .main-buttons .btn-primary {
  background: #4225f2;
  padding: 3px 20px;
}
main .main-content .main-buttons .btn-second {
  border: 2px solid #fff;
  padding: 3px 43px;
}
main .statistics {
  margin-top: 66px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
main .statistics .statistic {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: #333;
  padding: 8px 15px;
  margin: 0 10px;
  border-radius: 30px 30px 0 0;
}
main .statistics .statistic h3 {
  font-family: "Koulen", cursive;
  font-weight: normal;
  line-height: 18px;
  font-size: 1.3rem;
}
main .statistics .statistic h3 span {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
main .statistics article {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
main .statistics article div {
  display: flex;
  gap: 23px;
  padding: 19px;
  align-items: center;
  background: #333;
}
main .statistics article div img {
  width: 30px;
  height: 31px;
}
main .statistics article div p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.95rem;
}
main .about-us {
  margin-top: 28px;
  font-family: "Koulen", cursive;
  padding: 0 15px 0 13px;
}
main .about-us h3 {
  color: #09a7c9;
  font-size: 1.5rem;
  font-weight: normal;
}
main .about-us h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: normal;
  line-height: 48px;
}
main .about-us p {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  text-align: justify;
  margin-right: 33px;
  color: #fff;
}
main .about-us img {
  margin-top: 23px;
  margin-top: 23px;
  max-width: 100%;
  border-radius: 30px;
}
main .resources {
  padding: 0 14px;
}
main .resources .title {
  margin-top: 43px;
  font-family: "Koulen", cursive;
  text-align: center;
  line-height: 1.7rem;
  margin-bottom: 43px;
}
main .resources .title h3 {
  color: #09a7c9;
  font-size: 1.5rem;
  font-weight: normal;
}
main .resources .title h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: normal;
}
main .resources .box-info {
  background: linear-gradient(129.23deg, #312f3a 0%, #1e1c29 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  color: #fff;
  padding: 0 24px;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}
main .resources .box-info img {
  margin: 27px 0;
  width: 47px;
  height: 48px;
}
main .resources .box-info h2 {
  font-family: "Koulen", cursive;
  font-weight: normal;
  font-size: 1.8rem;
}
main .resources .box-info p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
}
main .cards-plans {
  text-align: center;
}
main .cards-plans h2 {
  font-family: "Koulen", cursive;
  font-weight: normal;
  text-align: center;
  color: #fff;
}
main .cards-plans article {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px 14px;
  text-align: center;
}
main .cards-plans article .card-plan {
  background-color: #fff;
  padding: 25px;
  border-radius: 30px;
}
main .cards-plans article .card-plan h3 {
  font-family: "Koulen", cursive;
  font-size: 1.8rem;
  font-weight: normal;
  text-align: left;
}
main .cards-plans article .card-plan > p {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #9f9f9f;
  margin: 15px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #9f9f9f;
}
main .cards-plans article .card-plan .price-per-month {
  display: flex;
  align-items: baseline;
  gap: 5px;
}
main .cards-plans article .card-plan .price-per-month .price {
  font-family: "Koulen", cursive;
  font-size: 3rem;
  line-height: 35px;
}
main .cards-plans article .card-plan .price-per-month .for-month {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #9f9f9f;
}
main .cards-plans article .card-plan .plan-benefits div {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px 0 15px 0;
}
main .cards-plans article .card-plan .plan-benefits div img {
  height: 16px;
  width: 15px;
}
main .cards-plans article .card-plan .plan-benefits div p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #9f9f9f;
  text-align: left;
}
main .cards-plans article .card-plan:nth-child(2) {
  background-color: #282832;
  position: relative;
}
main .cards-plans article .card-plan:nth-child(2) .popular {
  position: absolute;
  left: 70%;
  top: 3%;
  font-family: "Koulen", cursive;
  color: #fff;
  line-height: 20px;
  font-size: 1rem;
  background-color: #78b464;
  padding: 0 15px;
  border-radius: 20px;
}
main .cards-plans article .card-plan:nth-child(2) h3 {
  color: #4225f2;
}
main .cards-plans article .card-plan:nth-child(2) .price-per-month {
  color: #fff;
}
main .cards-plans article .card-plan:nth-child(2) a {
  background-color: #4225f2;
}
main .cards-plans article a {
  padding: 1px 35px;
  border-radius: 10px;
  margin-top: 24px;
  font-family: "Koulen", cursive;
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
  background-color: #282832;
}
main .questions {
  font-family: "Koulen", cursive;
  font-size: 1.5rem;
  color: #fff;
  padding: 0 16px;
}
main .questions .question {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  background-color: #4225f2;
  border-radius: 30px;
  margin-bottom: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #282832;
  padding: 30px;
  margin-top: 50px;
}
footer .download-on {
  max-width: 100%;
  display: flex;
}
footer .download-on img {
  width: 60%;
}
footer .menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .menu a {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  margin-bottom: 15px;
}
footer .menu a:hover {
  text-decoration: underline;
}
footer .social-medias {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .social-medias .social-media {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 15px;
}
footer .social-medias .social-media img {
  width: 44px;
}
footer .social-medias .social-media a {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
}
footer .social-medias .social-media a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */